.outlinebox{
	border: 1px black solid;
}

/* Header */
.header{
	width: 100%;
	margin-bottom:60px;
	height:70px;
}

/* Figure */


/* Products */
.productBtn{
	color: #6E6E6E;
	width: 60%;
	padding:30px 0px;
	text-align: center;
	margin-bottom:20px;
	font-size: 26px;
	background-color: #E3E3E3;
	border-radius: 5px;
	font-family: 'Varela Round', sans-serif;
}

.productBtn:hover{
	background-color: #D1D1D1;
}

/* Price Label */
#priceLabel {	
	color: #6E6E6E;
	width: 60%;
	padding:15px 0px;
	text-align: center;
	margin-top: 73px;
	font-size: 18px;
	background-image: url('../img/blue_background.jpg');
	border-radius: 5px;
	font-family: 'Varela Round', sans-serif;
}

