.outlinebox{
	border: 1px black solid;
}

/* Header */
.header{
	width: 100%;
	margin-bottom:40px;
	font-size:30px;
	padding-top:10px;
	padding-bottom:10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	background-color: #D9D9D9;
	color: #5C5C5C;
}

body{
	background-color: #F0F0F0;
}

.content{
	margin: 0 auto;
	width: 900px;
	position:relative;
}

.paddlecontainer{
	width:500px;
	height:450px;
	left:0px;
	position:absolute;
	border: 1px solid #E3E3E3;
	background-color: #F7F7F7;
}


.buttoncontainer{
	position:absolute;
	width:420px;
	right:0px;
}

/*Figure*/
#paddleCanvas {
	position: absolute;
	border:0px solid #E3E3E3;
}

/* Diamond */
#diamondCanvas {
	right:0px;
	bottom:0px;
	position:absolute;
	border:0px #87AFC7 solid;
}


/* Products */
.productBtn{
	position:relative;
	cursor: pointer;
	color: #6E6E6E;
	width: 220px;
	padding:30px 0px;
	text-align: center;
	font-size: 26px;
	background-color: #E3E3E3;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	font-weight:300;
	margin: 0 auto;
	margin-bottom:20px;
	border: 1px solid #E3E3E3;
}

.productBtn:hover{
	/* background-color: #D1D1D1; */
	background: -webkit-gradient(linear, left top, left bottom, from(#E3E3E3), to(#D9D9D9));
	background: -moz-linearc-gradient(top,  #E3E3E3,  #D9D9D9);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E3E3E3', endColorstr='#D9D9D9');
	border: 1px solid #D9D9D9;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,.1);
	box-shadow: 0 2px 3px rgba(0,0,0,.1);
}

.summary{
	position: absolute;
	width:10px;
	left: 100%;
	top: 15%;
	bottom: 15%;
	font-family: 'Lato', sans-serif;
	font-size:12px;
	background-color: #FAFAFA;
	z-index:-1;
	-webkit-box-shadow: 2px 2px 1px rgba(0,0,0,.05);
	-moz-box-shadow: 2px 2px 1px rgba(0,0,0,.05);
	box-shadow: 2px 2px 1px rgba(0,0,0,.05);
}

/* Price Label */
#priceLabel {	
	color: #6E6E6E;
	width: 220px;
	padding:10px 0px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	font-family: 'Lato', sans-serif;
	background-color: #FAFAFA;
	font-weight:300;
	margin: 00px auto;
	margin-top: 50px;
}

.modal-body {
	height: 300px;
	overflow: scroll;
}

.modal-body .item {
	height: 100px;
	border: 1px solid gray;
	margin-bottom: 10px;
	cursor: pointer;
}

.modal-body .item:hover {
	background-color: #D1D1D1;
}

.modal-body .item img {
	margin: 10px;
	height: 80px;
	float: left;
	border: 1px solid gray;
}

.modal-body .item .select-btn {
	margin-right: 10px;
	float: right;
}



